/* Center the Step 1 content */
.step-container {
       display: flex;
       justify-content: center;
       align-items: center;
       margin-bottom: 50px;
       padding: 20px;
   }
   
.step-content {
       max-width: 350px;
       text-align: center;
       background-color: #fff;
       padding: 30px;
       border-radius: 10px;
       box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
   }
   